<footer class="text-center text-light mt-4" style="background: linear-gradient(90deg, #192048, #19204f, #192056, #1a1f5c, #1c1e63, #1f1d69, #221b6f, #271975);">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center text-light">
          <span class="me-3">Register On VideoCall for free!</span>
        <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-outline-primary btn-rounded" %>
      </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © <%= Date.today.year %> Copyright:
      <a class="text-light" href="https://xhostcom.com/">Paul Anthony McGowan</a>
    </div>
    <!-- Copyright -->
  </footer>





